extends ../layout/layout-default
block content
  .view-wrapper.wrapper
    ul.list-wrap
      li.list
        .title 제목
        .content.bold.lg= rs.title
      li.list
        .title 작성자
        .content=rs.writer
      li.list
        .title 작성일
        .content=rs.created
      li.list
        .title 조회수
        .content=rs.readnum
      li.list
        .title 첨부파일
        .content
          if rs.src
            img.thumb(src=`${rs.src}` alt=`${rs.filename}` onclick=`onModal('${rs.src')`)
          a(href=`/board/download/${rs.id}`)= rs.filename
      li.list
        .content!= rs.content
      .text-center.my-4
        a.btn.btn-sucess(href="/board")
  include ../include/modal